$cyberpunk-font: 'Courier New', Courier, monospace; 

.Input {
    width: 25%;
    font-family: $cyberpunk-font, sans-serif; 
    font-weight: 400;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1e100; 
    background-color: transparent;
    color: #f1e100; /* Неоново-желтый цвет текста */
    text-align: center;
    text-shadow: 0 0 5px #f1e100, 0 0 10px #f1e100; /* Легкое неоновое свечение */
    transition: all 0.3s ease;
}

.Input:focus {
    outline: none;
    border-color: #fffb00; /* Изменение рамки на более светлый желтый при фокусе */
    box-shadow: 0 0 10px #f1e100, 0 0 20px #fffb00; /* Усиление свечения при фокусе */
    color: #000; /* Черный текст при фокусе для контраста */
}

.InputOff {
    width: 25%;
    font-family: $cyberpunk-font, sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1e100;
    background-color: transparent;
    color: #888;
    text-align: center;
    text-shadow: none;
    cursor: not-allowed;
}

.Select {
    width: 15%;
    height: 40px;
    margin-left: 20px;
    font-family: $cyberpunk-font, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #f1e100;
    background-color: transparent;
    color: #f1e100;
    text-align: center;
    text-shadow: 0 0 5px #f1e100, 0 0 10px #f1e100;
    transition: all 0.3s ease;
}

.Select:focus {
    outline: none;
    border-color: #fffb00;
    box-shadow: 0 0 10px #f1e100, 0 0 20px #fffb00;
    color: #000;
}

.SelectOption {
    background-color: black;
    color: #f1e100;
    font-size: 18px;
    text-shadow: 0 0 5px #f1e100, 0 0 10px #f1e100;
}

.SelectOption:hover {
    background-color: #f1e100;
    color: black;
}
