@use 'sass:color';

.Primary {
  user-select: none;
  color: #0f6;
  font-size: 24px;
  font-family: Doto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 30px;
}

.HideButton {
  font-family: Doto, sans-serif;
  font-weight: 900;
  font-size: 20px;

  --hover: #{color.adjust(#19bc8b, $hue: 45deg)};

  box-shadow:
    0.3em 0.3em 0 0 #19bc8b,
    inset 0.3em 0.3em 0 0 #19bc8b;
  color: #19bc8b;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  line-height: 1;
  cursor: pointer;
  margin: 0.5em;
  padding: 1em 2em;

  &:hover {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
    border-color: var(--hover);
    color: #fff;
  }
}

@media (max-width: 768px) {
  .Primary {
    font-size: 18px;
  }

  .HideButton {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .Primary {
    font-size: 15px;
  }

  .HideButton {
    font-size: 14px;
  }
}