

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/popbg1_04.jpg');
}





.content-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
}

.content-container > * {
  flex: 1; 
  max-width: 50%; 
}


.content-container > .price-list {
  flex: 2; 
}

.content-container > .exchange-rate-chart {
  flex: 1; 
  height: 350px;
}